/* 画像の設定 */
.over-image {
    position: relative;  /* 通常の表示位置に対して相対的な位置を設定する */
  }
  
  /* テキストの設定 */
  .over-image p {
    position: absolute; /* 親要素の表示位置に対して絶対的な位置を設定 */
    color: red;         /* 文字の色 */
    top:0;              /* 親要素の上部からの位置 */
    left:0;             /* 親要素の左部からの位置 */
    margin: 0;
  }
  
  .over-image img {
    width: 100%;        /* 画像自体の幅 */
  }