.mainMenuWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.mainMenuItemButtonWrapper>* {
  margin: .25rem;
}

.mainMenuWrapper.mainMenuHorizontal,
.mainMenuHorizontal .mainMenuItemButtonWrapper {
    flex-direction: row-reverse;
}

.mainMenuWrapper.mainMenuVertical,
.mainMenuVertical .mainMenuItemButtonWrapper {
  flex-direction: column-reverse;
}

.mainMenuItemButtonWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.mainMenuWrapper > * {
  margin: .5rem;
}

.mainMenuPrimaryButton {
  z-index: 20;
}

.mainMenuPrimaryButton > .mainMenuItem {
  width: 4rem;
  height: 4rem;
}

/*
  MainMenu を開くアニメーション
*/
.mainMenuOpenAnimation .mainMenuPrimaryButton img{
  transition: rotate 0.3s;
  rotate: 90deg;
}

/*
  MainMenu を閉じるアニメーション
*/
.mainMenuCloseAnimation .mainMenuPrimaryButton img {
  transition: rotate 0.3s;
  rotate: 0deg;
}

/*
  アニメーション: 右側から左側にスライドイン
  フェードと移動を組み合わせている
*/
@keyframes slideInFromRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*
  アニメーション: 下から上側にスライドイン
  フェードと移動を組み合わせている
*/
@keyframes slideInFromBottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.mainMenuItemButtonWrapper {
  z-index: 10;
}

.mainMenuOpenAnimation.mainMenuHorizontal .mainMenuItemButtonWrapper {
  animation: .2s ease-out 0s 1 forwards slideInFromRightToLeft;
}

.mainMenuOpenAnimation.mainMenuVertical .mainMenuItemButtonWrapper {
  animation: .2s ease-out 0s 1 forwards slideInFromBottomToTop;
}