.mainMenuWrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.mainMenuWrapper > * {
  margin: 0 .5rem;
}

.mainMenuPrimaryButton > .mainMenuItem {
  width: 4rem;
  height: 4rem;
}